/* CSS for login page */

.login-page-wrapper {
    background-color: var(--light-grey);
    padding-top: 3em;
    padding-bottom: 3em;
}

.login-page-wrapper h1 {
    text-align: center;
    color: var(--green);
}