/* CSS for home page */
.home-page-wrapper {
    padding-top: 0;
}

.home-page-wrapper #hero {
    height: 500px;
    background-image: url("../../assets/images/hero-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
}

.home-page-wrapper #hero .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-page-wrapper #hero .container .hero-cta {
    width: 70%;
}

#navigation {
    border-top: 1px solid var(--green);
}

#navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#navigation .container .button {
    max-width: 8em;
}

/* === Media queries === */

/* Tablet */
@media (min-width: 620px) {
    .home-page-wrapper #hero .container .hero-cta {
        width: 60%;
    }
}

/* Desktop */
@media (min-width: 840px) {
    .home-page-wrapper #hero .container .hero-cta {
        width: 50%;
    }
}

/* Large screens */
@media (min-width: 1080px) {
    .home-page-wrapper #hero .container .hero-cta {
        width: 40%;
    }
}