/* CSS for filter component */

.filter-form {
    width: 100%;
    position: relative;
}

.filter-form h3 {
    color: var(--medium-grey);
    margin-bottom: .5em;
    font-size: 1em;
}

.filter-form form .search-bar-container {
    padding: .5em 1em;
    display: flex;
    background-color: var(--light-grey);
    margin: 1em;
    border-radius: .25em;
    gap: 1em;
}

.filter-form form .search-bar-container .search-input {
    flex: 4;
    display: flex;
    gap: .5em;
    align-items: center;
}

.filter-form form .search-bar-container .search-input svg {
    width: 1.5em;
    height: 1.5em;
}

.filter-form form .search-bar-container .search-input input {
    width: 100%;
    font-size: 1em;
    padding: .5em;
    background-color: var(--light-grey);
    border: 1px solid var(--medium-grey);
    border-radius: .25em;
}

.filter-form form .search-bar-container button {
    width: auto;
    padding: .5em 1em;
    display: flex;
    gap: .25em;
    align-items: center;
}

.filter-form form .search-bar-container button svg {
    height: 1.5em;
    width: 1.5em;
}

.filter-form form .price-sort,
.filter-form form .price-range {
    display: flex;
    justify-content: space-between;
}

.filter-form .filters-container {
    position: absolute;
    background-color: var(--white);
    padding: 1em;
    border-radius: .25em;
    border: 1px solid var(--light-grey);
    top: 100%;
    margin: 1.5em 1em;
    width: calc(100% - 2em);
    display: flex;
}

.filter-form .filters-container .price-range {
    display: flex;
    align-items: center;
    gap: .5em;
}

.filter-form .filters-container .price-range .input-group {
    width: min-content;
}

.filter-form .filters-container .price-range .input-group input {
    width: 6em;
}

.filter-form .filters-container .price-sort {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* === MEDIA QUERIES === */

@media (min-width: 840px) {
    .filter-form form .search-bar-container {
        margin: .5em;
    }

    .filter-form .filters-container {
        margin: .5em;
        width: calc(100% - 1em);
    }
}