/* === Variables import === */
@import "./assets/styles/variables.css";

/* === Global === */
body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-main);
  font-size: 16px;
}

/* === Structure === */
.container {
  max-width: 620px;
  padding: 0 1.25em;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.grid>a {
  width: calc(50% - 0.5em);
}

/* === Typography === */
h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.25em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

p {
  line-height: 1.25;
}

/* === UI === */
.button {
  display: block;
  border: 1px solid var(--green);
  text-align: center;
  padding: 1em;
  border-radius: .25em;
  text-decoration: none;
  font-size: 1em;
  width: 100%;
  text-wrap: nowrap;
}

.button.button-fill {
  background-color: var(--green);
  color: var(--white);
}

.button.button-inline {
  background-color: var(--white);
  color: var(--green);
}

.button.button-danger {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.card {
  background-color: var(--white);
  padding: 1.5em;
}

.price {
  font-size: 1em;
  background-color: var(--green);
  padding: .25em .5em;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  border-radius: .25em;
  margin-bottom: 1em;
}

.details-list li {
  margin-bottom: .5em;
  line-height: 1.25em;
}

.details-list li:last-of-type {
  margin-bottom: 0;
}

.details-list li .detail-key {
  font-weight: 600;
  color: var(--medium-grey);
}

.owner {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.owner img {
  height: 3em;
  width: 3em;
  border-radius: 3em;
}

.owner span {
  align-self: center;
}

/* === Media queries === */

/* Tablet */
@media (min-width: 620px) {

  /* Typography */
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  /* Structure */
  .container {
    max-width: 840px;
  }

  .grid>a {
    width: calc(33.33% - 0.83em);
  }

  /* UI */
  .card {
    padding: 2em;
  }

  .price {
    padding: .5em 1em;
  }
}

/* Desktop */
@media (min-width: 840px) {

  /* Structure */
  .container {
    max-width: 1080px;
  }

  .grid>a {
    width: calc(25% - 1em);
  }
}

/* Large screens */
@media (min-width: 1080px) {

  /* Structure */
  .container {
    max-width: 1280px;
  }
}