/* === Variables import === */
@import "./assets/styles/variables.css";

/* === Global === */
body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-main);
  font-size: 16px;
}

footer a {
  font-weight: 500;
}

/* === Structure === */
.container {
  max-width: 620px;
  padding: 0 1.25em;
  margin: 0 auto;
}

.page-wrapper {
  padding: 3em 0 5em 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.grid>a {
  width: calc(50% - 0.5em);
}

/* === Typography === */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.25em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

p {
  line-height: 1.25;
}

/* === UI === */
.button {
  display: block;
  border: 1px solid var(--green);
  text-align: center;
  padding: 1em;
  border-radius: .25em;
  text-decoration: none;
  font-size: 1em;
  width: 100%;
  text-wrap: nowrap;
}

.button.button-fill {
  background-color: var(--green);
  color: var(--white);
}

.button.button-inline {
  background-color: var(--white);
  color: var(--green);
}

.button.button-danger {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.button.button-inactive {
  background-color: var(--light-grey);
  border-color: var(--medium-grey);
  color: var(--medium-grey);
}

.card {
  background-color: var(--white);
  padding: 1.5em;
}

.price {
  font-size: 1em;
  background-color: var(--green);
  padding: .25em .5em;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  border-radius: .25em;
  margin-bottom: 1em;
}

.details-list li {
  margin-bottom: .5em;
  line-height: 1.25em;
}

.details-list li:last-of-type {
  margin-bottom: 0;
}

.details-list li .detail-key {
  font-weight: 600;
  color: var(--medium-grey);
}

.owner {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.owner img {
  height: 3em;
  width: 3em;
  border-radius: 3em;
}

.owner span {
  align-self: center;
}

.form-container {
  max-width: 600px;
  margin: auto;
}

.form-container .input-group {
  display: flex;
  flex-direction: column;
}

.form-container .input-group label {
  margin-bottom: .5em;
  font-weight: 500;
  color: var(--medium-grey);
}

.form-container .input-group input {
  font-size: 1em;
  padding: .5em 1em;
  margin-bottom: 2em;
}

.form-container .checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.form-container .checkbox-group input[type="checkbox"] {
  margin-right: 1em;
  height: 1.5em;
  width: 1.5em;
}

.form-error {
  border: 1px solid var(--red);
  border-radius: .25em;
  color: var(--red);
  padding: .5em 1em;
  margin: .5em 0;
}

.hint {
  border-radius: .25em;
  border: 1px solid var(--medium-grey);
  color: var(--medium-grey);
  padding: 1em;
  margin-top: 1em;
}

.hint a {
  text-decoration: underline;
}

/* === Media queries === */

/* Tablet */
@media (min-width: 620px) {

  /* Typography */
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  /* Structure */
  .container {
    max-width: 840px;
  }

  /* UI */
  .card {
    padding: 2em;
  }

  .price {
    padding: .5em 1em;
  }
}

/* Desktop */
@media (min-width: 840px) {

  /* Structure */
  .container {
    max-width: 1080px;
  }

  .grid>a {
    width: calc(25% - 1em);
  }

  .page-wrapper {
    padding: 5em 0 8em 0;
  }

  /* UI */
  .button {
    transition: var(--transition);
  }

  .button:hover {
    cursor: pointer;
    opacity: .9;
  }

  .button.button-inline:hover {
    background-color: var(--green);
    color: var(--white);
  }

  .button.button-inactive:hover {
    cursor: not-allowed;
  }
}

/* Large screens */
@media (min-width: 1080px) {

  /* Structure */
  .container {
    max-width: 1280px;
  }
}